@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Local Polls</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Local Polls</h2>
        <p>
            Local Polls is a sample application that
            uses Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Raise Issues important to your local community</h2>
        <p>You can use this app to raise, describe and vote on issues which are important at the local level.</p>

    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/theOwls/MVCPollsTest">See project source code &raquo;</a></p>
    </div>
</div>